
.container {
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: $tablet) {
    width: 668px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: $desktop) {
    width: 1050px;
    margin: 0 auto;
  }
}
.row {
  &--header {
     min-height: 80px;
       @media (min-width: $tablet) {
         min-height: 89px;
       }
   }
  &--modal {
     display: flex;
     justify-content: space-between;
   }
}


