.article {
  padding-top: 29px;
  padding-bottom: 32px;
    @media (min-width: $tablet) {
      padding-top: 48px;
      padding-bottom: 53px;
    }
    @media (min-width: $desktop) {
      padding-top: 72px;
      padding-bottom: 72px;
    }
}
.article__wrap {
  position: relative;
}
.article__content-wrap {
  @media (min-width: $tablet) {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 410px;
  }
  @media (min-width: $desktop) {
    height: 642px;
    padding-top: 168px;
    padding-left: 175px;
  }
}

.article__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  &--week {
    display: block;
    text-transform: uppercase;
    margin-top: 5px;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    color: $color-main;
      @media (min-width: $tablet) {
        width: 70px;
        margin-right: 27px;
        text-align: center;
        line-height: 17px;
      }
  }
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
    font-size: 43px;
    line-height: 50px;
  }
  @media (min-width: $desktop) {
    position: absolute;
    flex-direction: row-reverse;
    width: 650px;
    top: 52px;
    left: 46px;
    font-size: 53px;
    line-height: 57px;
    z-index: 200;
  }
}


.article__text {
  margin-top: 23px;
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 24px;
    @media (min-width: $tablet) {
      width: 43%;
      margin-top: -9px;
      margin-bottom: 37px;
      font-size: 17px;
      line-height: 30px;
    }
    @media (min-width: $desktop) {
      width: 34%;
      margin-bottom: 47px;
    }
}
.article__table {
  width: 100%;
  margin-bottom: 27px;
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-collapse: collapse;
    border-bottom: 1px solid #ECECEC;
      &:last-of-type {
         padding-left: 9px;
           @media (min-width: $tablet) {
             padding-left: 0;
           }
       }
  }
    @media (min-width: $tablet) {
      width: 43%;
    }
    @media (min-width: $desktop) {
      width: 30%;
    }
}
.article__img-wrap {
  @media (min-width: $tablet) {
    align-self: flex-end;
    order: 4;
    width: 50%;

  }
}
.article__img {
  display: block;
  margin: 0 auto;
    @media (min-width: $tablet) {
      width: 100%;


    }
}
.article__price {
  margin-top: 25px;
  margin-bottom: 27px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: $font-bold;
    @media (min-width: $tablet) {
      width: 45%;
      margin-top: 28px;
      margin-bottom: 32px;
      font-size: 20px;
    }
    @media (min-width: $desktop) {
      margin-top: 85px;
      margin-bottom: 31px;
      width: 34%;
    }
}
