.btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: inherit;
  border: 2px solid $gray--dark;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: $font-bold;
  color: $gray--dark;
  outline: none;
  cursor: pointer;
  &--modal {
     margin-top: 30px;
     background-color: $color-main;
     border: none;
     color: #ffffff;
   }
}
