.btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: inherit;
  border: 2px solid $gray--dark;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: $font-bold;
  color: $gray--dark;
  outline: none;
  cursor: pointer;
  &:hover {
     background-color: #444444;
     color: #ffffff;
   }
  &:active {
     color: #8D8D8D;
   }
  &--article {
    @media (min-width: $tablet) {
      width: 43%;
    }
    @media (min-width: $desktop) {
      width: 33.5%;
    }
   }
  &--review {
     font-size: 18px;
    @media (min-width: $tablet) {
      position: absolute;
      width: 175px;
      right: 0px;
      top: 76px;
    }
    @media (min-width: $desktop) {
      right: 0px;
      top: 78px;
    }
   }
  &--location {
   font-size: 18px;
    @media (min-width: $tablet) {
      width: 230px;
    }
   }
  &--modal {
     margin-top: 30px;
     background-color: $color-main;
     border: none;
     color: #ffffff;
   }
  &--order {
     @media (min-width: $tablet) {
       width: 230px;
     }
   }
}
