.bunner {
  display: flex;
  justify-content: space-between;
  padding: 28px 30px;
  background-color: $color-main;
  text-decoration: none;
  cursor: pointer;
  &:hover {
     background-color: #59D5BC;
   }
  &:active .bunner__title{
     color: #97E2D2;
   }
    @media (min-width: $tablet) {
      flex-basis: 50%;
      padding-left: 36px;
    }
    @media (min-width: $desktop) {
      padding: 30px 30px;
    }
  &--dark {
     background-color: $color-main--dark;
     &:hover {
        background-color: #46C1AE;
      }
     &active .bunner__title {
        color: #8DD5C9;
      }
   }
}
.bunner__title {
  width: 50%;
  margin: 0;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
    @media (min-width: $tablet) {
      width: 50%;
      font-size: 20px;
      line-height: 30px;
    }
    @media (min-width: $desktop) {
      width: 30%;
    }
}
