.bunner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 22px;
  padding-left: 30px;
  padding-right: 35px;
  background-color: $color-main;
  text-decoration: none;
  cursor: pointer;
  fill: #3bb09d;
  &:hover {
     background-color: #59D5BC;
   }
  &:active .bunner__title{
     color: #97E2D2;
   }
  @media (min-width: $tablet) {
    flex-basis: 50%;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 36px;
  }
    @media (min-width: $desktop) {
      padding: 27px 37px;
    }
  &--dark {
     padding-right: 26px;
     background-color: $color-main--dark;
     fill: #35a999;
     @media (min-width: $tablet) {
       padding-right: 34px;
     }
     &:hover {
        background-color: #46C1AE;
      }
     &active .bunner__title {
        color: #8DD5C9;
      }
   }
}
.bunner__title {
  width: 50%;
  margin: 0;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
    @media (min-width: $tablet) {
      width: 50%;
      font-size: 20px;
      line-height: 30px;
    }
    @media (min-width: $desktop) {
      width: 30%;
    }
}
.bunner__icon {
  height: 65px;
}
