.card {
  margin-bottom: 30px;
}

.card__description {
  padding-top: 25px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid #ECECEC;
}
.card__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
}
.card__property {
  font-size: 13px;
  line-height: 30px;
  color: $gray--dark;
}

.card__price-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ECECEC;
}
.card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: $font-bold;
}
