.contacts {
  padding: 20px 30px 38px 30px;
    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      width: 668px;
      margin: 0 auto;
      padding-top: 43px;
      padding-bottom: 56px;
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: $desktop) {
      align-self: flex-start;
      width: 33.33%;
      order: 0;
      margin: 0;
      padding-top: 70px;
      padding-bottom: 0;
    }
}
.contacts__title-wrap {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
  }
  @media (min-width: $desktop) {
    position: relative;
    margin-bottom: 49px;
  }
}
.contacts__title {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
    @media (min-width: $tablet) {
      margin: 0;
      font-size: 43px;
      line-height: 50px;
    }
    @media (min-width: $desktop) {
      font-size: 53px;
      line-height: 57px;
    }
}
.contacts__icon {
  display: none;
  @media (min-width: $tablet) {
    display: block;
  }
  @media (min-width: $desktop) {
    position: absolute;
    left: -107px;
    top: -9px;
  }
}
