.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0;
  @media (min-width: $tablet) {
    width: 33.3%
  }
}
.copyright__link {
  text-decoration: none;
}
.copyright__text {
  font-weight: $font-bold;
  font-style: normal;
  font-size: 19px;
  line-height: 18px;
}
