.email {
  display: flex;
  margin-bottom: 28px;
  color: $gray--dark;
    @media (min-width: $tablet) {
      width: 50%;
    }
    @media (min-width: $desktop) {
      width: 100%;
    }
}
.email__title {
  margin: 0;
  margin-right: 31px;
  font-size: 15px;
  line-height: 30px;
    @media (min-width: $tablet) {
      font-size: 17px;
    }
}
.email__address {
  border-bottom: 1px solid $color-main;
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
  color: inherit;
    @media (min-width: $tablet) {
      font-size: 17px;
    }
}
