.email {
  display: flex;
  margin-bottom: 35px;
  color: $gray--dark;
}
.email__title {
  margin: 0;
  margin-right: 24px;
  font-size: 15px;
  line-height: 30px;
}
.email__address {
  border-bottom: 1px solid $color-main;
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
  color: inherit;
}
