.features {
  padding-top: 15px;
  padding-bottom: 20px;
  color: $gray--darken;
  font-weight: $font-bold;
    @media (min-width: $tablet) {
      padding-top: 40px;
      padding-bottom: 25px;
    }
    @media (min-width: $desktop) {
      padding-top:57px;
      padding-bottom: 30px;
    }
}
.features__wrap {
  @media (min-width: $desktop) {
    width: 700px;
  }
}
.features__title {
  margin-top: 22px;
  margin-bottom: 31px;
  font-size: 25px;
  line-height: 30px;
    @media (min-width: $tablet) {
      margin-bottom: 48px;
      font-size: 43px;
      line-height: 50px;
    }
    @media (min-width: $desktop) {

      font-size: 53px;
      line-height: 57px;
    }
}
.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
    @media (min-width: $tablet) {
      padding-left: 5px;
      display: flex;
      flex-wrap: wrap;
    }
    @media (min-width: $desktop) {
      padding-left: 0;
    }
}
.features__item {
  position: relative;
  margin-bottom: 28px;
    @media (min-width: $tablet) {
      margin-bottom: 58px;
      width: 50%;
   }
  &--clean {
     @media (min-width: $tablet) {
       order: 0;
     }
   }
  &--style {
     @media (min-width: $tablet) {
       order: 2;
     }
   }
  &--likes {
     @media (min-width: $tablet) {
       order: 4;
     }
   }
  &--hand {
     @media (min-width: $tablet) {
       order: 1;
     }
   }
  &--production {
     @media (min-width: $tablet) {
       order: 3;
     }
   }
  &--gift {
     @media (min-width: $tablet) {
       order: 5;
     }
   }
}
.features__text {
  margin: 0;
  padding-top: 55px;
  font-size: 17px;
  line-height: 20px;
    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 22px;
    }
}
.features__icon {
  position: absolute;
  &--clean {
     left: 10px;
   }
  &--style {
     left: 1px;
     top: 2px;
   }
  &--likes {
     left: 9px;
     top: 6px;
   }
  &--hand {
     left: 5px;
     top: 4px;
   }
  &--production {
     left: -6px;
     top: 5px;
   }
  &--gift {
     left: 4px;
     top: 3px;
   }
  svg {
    fill: $color-main;
  }
}
