.form-tel {
  @media (min-width: $tablet) {
    width: 75%;
  }
  @media (min-width: $desktop) {
    width: 66.67%;
  }
}
.form-tel__input {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-bottom: 2px solid $gray--darken;
  outline: none;
}
