.form-tel {
  position: relative;
  @media (min-width: $tablet) {
    width: 75%;
  }
  @media (min-width: $desktop) {
    width: 66.67%;
  }
}
.form-tel__input {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  border: none;
  border-bottom: 2px solid $gray--darken;
  outline: none;
  background-color: inherit;
  &:hover + .form-tel__icon {
     fill: $color-main;
   }
  &:focus + .form-tel__icon {
     fill: $color-main;
   }
}
.form-tel__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 7px;
  top: calc(50% - 15px);
  fill: #cccccc;

}
