.form-group {
  &--type {
    @media (min-width: $tablet) {

    }
  }
  &:nth-of-type(odd) {
    @media (min-width: $tablet) {
      background-color: #F1F1F1;
    }
  }
}

.form-group__wrap {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

  }
  label {
    font-size: 17px;
    font-weight: $font-bold;
    line-height: 18px;
      @media (min-width: $tablet) {
        font-size: 19px;
      }
  }
}

.form-group__title {
  position: relative;
  margin: 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 16px;
  color: $color-main;
    @media (max-width: $mobile-only) {
      &:after {
      position: absolute;
      content: '';
      width: 76.15385%;
      height: 1px;
      background-color: $color-main;
      right: 0;
      top: 50%;
    }
    }
    @media (min-width: $tablet) {
      width: 25%;
      padding-top: 68px;
  }
    @media (min-width: $desktop) {
      width: 16.7%;
    }
  &--email {
    @media (min-width: $tablet) {
      padding-top: 23px;
    }
  }
}
