.form-order {
  margin-bottom: 55px;
  padding-top: 25px;
    @media (min-width: $tablet) {
      padding-top: 75px;
    }
    @media (min-width: $desktop) {
      padding-top: 115px
    }
}
.form-order__text {
  margin: 0 auto;
  font-size: 13px;
  line-height: 24px;
  color: $gray--dark;
    @media (min-width: $tablet) {

      font-size: 17px;
      line-height: 30px;
    }
    @media (min-width: $desktop) {
      width: 66.67%;
    }
}
.form-order__require {
  font-size: 14px;
  line-height: 16px;
  color: $gray--dark;
}
