.form-type {
  padding-top: 25px;
  padding-bottom: 24px;
  @media (min-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 75%;
  }
  @media (min-width: $desktop) {
    width: 83.3%;
  }
}
.form-type__input {
  display: none;
}
.form-type__radio {
  display: block;
  position: relative;
  min-height: 50px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 64px;
  cursor: pointer;
  @media (min-width: $tablet) {
    min-height: 52px;
    padding-left: 81px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  &:hover {
    &:before {
       border-color: $color-main;
     }
  }
  &:active {
    &:before {
      border-color: #C4C4C4;
    }
  }

  &:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    border: 2px solid $gray--dark;
    border-radius: 50%;
    @media (min-width: $tablet) {
      width: 52px;
      height: 52px;
    }
  }
}
.form-type__radio[for="accessories"] {
  @media (min-width: $tablet) {
    margin-bottom: 23px;
  }
}
.form-type__input:checked + .form-type__radio {
&:after {
   position: absolute;
   content: "";
   width: 16px;
   height: 16px;
   top: 12px;
   left: 12px;
   border-radius: 50%;
   background-color: $color-main;
   @media (min-width: $tablet) {
     width: 22px;
     height: 22px;
     top: 15px;
     left: 15px;
   }
 }
}
