.form-name {
  padding-top: 29px;
  padding-bottom: 10px;
  @media (min-width: $tablet) {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 26px;
  }
  @media (min-width: $desktop) {
    width: 66.67%;
  }
}
.form-name__item {
  margin-bottom: 22px;
  @media (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;
  }
}

.form-name__input {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid $gray--darken;
  outline: none;
    @media (min-width: $tablet) {
      margin-left: 25px;
      padding-left: 20px;
    }
  &:hover {
    border-color: #62d1ba;
   }
  &:focus {
     border-color: #62d1ba;
   }
}
.form-name__input[placeholder] {
  font-size: 17px;
  line-height: 18px;
  color: #d2d2d2;
  letter-spacing: 0.3px;
}
