.icon {
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center, center;
  &--search {
     position: absolute;
     left: calc(15% - 10px);
     top: 30px;
     margin-right: 25px;
     background-image: url("../img/icon-search.svg");
     @media (min-width: $tablet) {
       position: static;
       display: flex;
       justify-content: center;
       margin-right: 0;
     }
   }
  &--cart {
     position: absolute;
     left: calc(15% - 10px);
     top: 30px;
     margin-right: 25px;
     background-image: url("../img/icon-cart.svg");
     @media (min-width: $tablet) {
        margin-right: 30px;
        left: calc(15% - 8px);
        top: 35px;
     }
   }
  &--copyright {
    display: block;
    width: 27px;
    height: 34px;
    background-image: url("../img/logo-htmlacademy.svg");
  }
}
