.location {
  margin-bottom: 40px;
    @media (min-width: $tablet) {
      margin-bottom: 58px;
    }
    @media (min-width: $desktop) {
      margin-bottom: 105px;
      padding-top: 92px;
    }
}
.location__wrap {
  @media (min-width: $desktop) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    order: 0;
    padding-left: 169px;
    width: 1050px;
    height: 457px;
    margin: 0 auto;

  }

}
.location-btn__wrap {
  padding-left: 30px;
  padding-right: 30px;
    @media (min-width: $tablet) {
      display: flex;
      justify-content: center;
    }
    @media (min-width: $desktop) {
      align-self: flex-start;
      order: 1;
      padding-left: 5px;
      padding-right: 0;
    }
}
