.map {
  position: relative;
  height: 457px;
  margin-bottom: 37px;
  overflow: hidden;
    @media (min-width: $tablet) {
      margin-bottom: 54px;
    }
    @media (min-width: $desktop) {
      align-self: flex-end;
      order: 2;
      width: 525px;
      margin-bottom: 0;
    }
  img {
    width: 100%;
  }
}
.map__marker {
  position: absolute;
  width: 68px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 34px);
}
