.process {
  margin-bottom: 57px;
  @media (min-width: $desktop) {
    margin-bottom: 106px;
  }
}
.process__wrap {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-bottom: 62px;
  }
  @media (min-width: $desktop) {
    flex-wrap: wrap;
    height: 455px;
    justify-content: space-between;
  }
}
.process__title {
  display: flex;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 33px;
  padding-right: 34px;
  border: 1px solid #ECECEC;
  border-bottom-color: transparent;
  font-size: 17px;
  line-height: 24px;
    @media (min-width: $tablet) {
      order: 1;
      padding-left: 41px;
      padding-top: 38px;
      padding-bottom: 16px;
      font-size: 20px;
    }
    @media (min-width: $desktop) {
      flex-direction: column;
      width: 370px;
      padding-top: 40px;
      padding-bottom: 33px;
      padding-left: 80px;
      padding-right: 50px;
    }
}
.process__icon {
  display: block;
  fill: $color-main;
  margin-right: 24px;
  @media (min-width: $tablet) {
    margin-right: 31px;
  }
  @media (min-width: $desktop) {
    margin-bottom: 18px;
  }
}
.process__discription {
  padding-top: 13px;
  padding-bottom: 32px;
  padding-left: 33px;
  padding-right: 33px;
  border: 1px solid #ECECEC;
  border-top-color: transparent;
    @media (min-width: $tablet) {
      order: 2;
      padding-top: 0;
      padding-left: 40px;
      padding-right: 42px;
      padding-bottom: 45px;
    }
    @media (min-width: $desktop) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      width: 370px;
      flex-grow: 2;
      padding-bottom: 58px;
      padding-left: 80px;
      padding-right: 56px;
    }
}
.process__text {
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  color: $gray--dark;
    @media (min-width: $tablet) {
      order: 1;
      margin-top: 0;
      margin-bottom: 35px;
      font-size: 15px;
      line-height: 30px;
}
}
