.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 489px;
  padding-top: 70px;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size:;
  background-size: cover;
  &--simple {
     justify-content: center;
     height: 177px;
     padding-top: 0;
     background-image: none;
     background-color: #F1F1F1;
   }
}
.promo__title {
  margin: 0;
  padding: 0 30px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: $font-bold;
  &--simple {
     padding-left: 0;
     padding-right: 0;
   }
}
