.size__form {

}

.size__input {
  display: none;
}
.size__input:checked + label {
  border: 2px solid $color-main;
}

.size__radio {
  display: block;
  width: 31.52%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #ECECEC;
  text-align: center;
  font-size: 17px;
  line-height: 16px;
  font-weight: $font-bold;
  cursor: pointer;
}
