.slider-controls {
  margin-bottom: 38px;
  display: flex;
    @media (min-width: $tablet) {
      position: absolute;
      width: 167px;
      right: 0;
      bottom: 45px;
    }
    @media (min-width: $desktop) {
      bottom: 95px;
    }
}

.slider-controls__arrow {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #ECECEC;
  font-size: 17px;
  line-height: 30px;
  color: $gray--dark;
  outline: none;
  cursor: pointer;
  &:hover {
      fill: #666666;
   }
  &:active {
      fill: #B2B2B2;
   }
  &--next {
     border-left-color: transparent;
   }
}

