.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0;
  @media (min-width: $tablet) {
    width: 33.3%
  }
}
.social__link {
  display: block;
  &:hover {
     fill: #53BBA7;
   }
  &:active {
     fill: #C1E0DA;
   }
  &--instagram {
    margin-right: 40px;
    @media (min-width: $tablet) {

    }
  }
  &--facebook {
    margin-right: 40px;
    @media (min-width: $tablet) {

    }
  }
  &--twitter {

  }
}
