.video__wrap {
  position: relative;
  @media (min-width: $tablet) {
    order: 0;
    height: 455px;
  }
  @media (min-width: $desktop) {
    width: 680px;
  }
}
.video {
  width: 100%;
  height: 100%;
  @media (min-width: $tablet) {

}
}
.video__icon {
  position: absolute;
  width: 100px;
  height: 76px;
  left: calc(50% - 50px);
  top: calc(50% - 38px);
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  transition: transform 0.3s;
    @media (min-width: $tablet) {
      top: calc(50% - 32px);
    }
    @media (min-width: $desktop) {
      top: calc(50% - 34px);
      left: calc(50% - 40px);
    }
  &:hover {
      transform: scale(1.25);
   }
  &:active {
      transform: scale(0.8);
      opacity: 0.3;
   }
}
