.video__wrap {
  position: relative;
  outline: 1px solid darkgreen;
  @media (min-width: $tablet) {
    order: 0;
    height: 455px;
  }
  @media (min-width: $desktop) {
    width: 680px;
  }
}
.video {
  width: 100%;
  height: 100%;
  @media (min-width: $tablet) {

}
}
.video__icon {
  position: absolute;
  width: 100px;
  height: 76px;
  left: calc(50% - 50px);
  top: calc(50% - 38px);
}
